/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* New "productized" landing page */
body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.figtree-light {
    font-weight: 300;
}
.figtree-medium {
    font-weight: 500;
}
.figtree-semibold {
    font-weight: 600;
}
.figtree-bold {
    font-weight: 700;
}

h1, h2 {
    font-size: 3rem;
    line-height: 112%;
}
h1 {
    max-width: 455px;
}
a {
    color: black;
    text-decoration: none;
}
.black {
    color: black !important;
}

a.logo-link {
    display: inline-block;
    margin: 16px 0 16px 24px;
}
.header-image {
    display: flex;
    background-image: url(https://prestonise.s3.eu-west-2.amazonaws.com/images/posts-header.png);
    background-size: cover;
    height: 240px;
    margin: 0 0 40px;
    align-items: center;
    justify-content: center;
}
.posts-bg span {
    font-size: 1.25rem;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: white;
}
.post-page header {
    margin-bottom: 1.5rem;
}
header.hero {
    background-image: url(https://prestonise.s3.eu-west-2.amazonaws.com/images/u3797653683_friendly_image_of_people_and_AI_working_together__68e9eec2-1bf7-4a3b-a9fc-4391dd30a5fd_2.png);
    position: relative;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    background-position-x: 50%;
    background-size: cover;
    margin-bottom: 80px;
}
header.hero:before {
    content:'';
    display: block;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.2);
}
.hero-content {
    max-width: 349px;
    width: calc(100% - 80px);
    position: absolute;
    top: calc(50vh - 87px);
    left: 40px;
}
.hero-content * {
    display: block;
}
.yellow-border-top {
    height: 5px;
    width: 42px;
    display: block;
    background: #FFCC44;
}
header.hero .yellow-border-top {
    margin-bottom: 1.5rem;
}
header.hero .logo {
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 100%;
}
header.hero span {
    font-size: 0.75rem;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: white;
}
#scroll-down {
    position: absolute;
    bottom: 48px;
    left: calc(50vw - 1rem)
}
.container {
    width: calc(100% - 48px);
    max-width: 1176px;
    margin: 0 auto;
}

#sub-hero {
    display: block;
    padding-bottom: 6.25rem;
}
.posts-page #sub-hero {
    padding-bottom: 3rem;
}
#sub-hero > div {
    margin-top: 24px;
    max-width: 526px;
    padding-bottom: 0.5rem;
}
#sub-hero .yellow-border-top {
    margin-bottom: 1rem;
}
#sub-hero p {
    font-size: 1.25rem;
    line-height: 28px;
    margin-bottom: 2.5rem;
}
a > img.icon {
    margin-left: 0.5rem;
    cursor: pointer;
}

.container.how-to {
    margin-bottom: 6.25rem;
    padding: 3rem 0 0;
    gap: 1.5rem;
    align-items: self-start;
}
.container.how-to > div {
    width: 100%;
    max-width: 376px;
}
.how-to-title {
    display: none;
}
.how-to-title h2 {
    letter-spacing: -0.5px;
    font-size: 42px;
}
.how-to-text > span {
    display: block;
    margin-bottom: 0.75rem;
}
.how-to-text h3 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 1.5rem;
}
.how-to-text p {
    line-height: 22px;
    color: #494949;
}
.how-to a {
    display: inline-block;
    margin-top: 1rem;
}
.how-to p.disclaimer {
    color: #AFAFAF;
    font-style: italic;
    margin-top: 1.5rem;
}
.how-to-image {
    display: none;
}

.full-width {
    background-size: cover;
    color: white;
    padding: 8rem 1.5rem;
}
.panel-image-bg {
    background-image: url(https://prestonise.s3.eu-west-2.amazonaws.com/images/auditorium-bg.png);
}
.student-image-bg {
    background-image: url(https://prestonise.s3.eu-west-2.amazonaws.com/images/student.png);
    background-position-x: 40%;
    margin-bottom: 5rem;
}
.panel-discussion-bg {
    background-image: url(https://prestonise.s3.eu-west-2.amazonaws.com/images/panel-discussion.png);
    background-position-x: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}
.panel-content {
    width: calc(100% - 48px);
    max-width: 1176px;
    margin: 0 auto;
}
.full-width .yellow-border-top {
    margin-bottom: 24px;
}
.panel-image-bg h2 {
    max-width: 585px;
}
.student-image-bg h2 {
    max-width: 640px;
}
.panel-discussion-bg .panel-content {
    max-width: 349px;
    width: calc(100% - 120px);
    margin: 0;
}
.panel-discussion-bg .panel-content * {
    display: block;
}
.panel-discussion-bg .panel-content .yellow-border-top {
    margin-bottom: 1.5rem;
}
.panel-discussion-bg .panel-content .logo {
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 100%;
}
.panel-discussion-bg .panel-content span {
    font-size: 0.75rem;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: white;
}
.panel-button {
    background: black;
    display: inline-block !important;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    padding: 14px 1rem;
    margin-top: 1.5rem;
    color: white;
}

#three-use-cases,
#two-more-use-cases {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 5rem;
}
.use-case {
    width: 100%;
    max-width: 376px;
    margin-bottom: 2.5rem;
}
.use-case-cover-image,
.post-cover-image {
    width: 100%;
    max-width: 376px;
    height: 274px;
    background-size: cover;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-bottom: 2.5rem;
    border-radius: 0.75rem;
}
.post-cover-image {
    margin-bottom: 1.5rem;
}
.use-case h3 {
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    padding: 13px 0;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}
.use-case p {
    color: #494949;
    line-height: 1.4;
}
.full-width.grey-bg {
    background: #F5F5F5;
    padding: 3rem 0;
    color: black;
}
.full-width.grey-bg h2 {
    text-align: center;
    margin-bottom: 2.5rem;
}

.go-back-link {
    font-size: 1rem;
    color: #AFAFAF;
    display: inline-block;
    margin-bottom: 1rem;
}
.back-icon {
    transform:rotate(180deg);
    margin-right: 4px;
    opacity: 0.33;
}
#post-hero h1 {
    max-width: 800px;
    margin-bottom: 2rem;
}
#post-hero .post-cover-image {
    margin-bottom: 3rem;
}
#post-hero p {
    color: #494949;
    line-height: 1.4;
    margin: 1rem 0 1.5rem;
    max-width: 640px;
    background: #F1F1F1;
    padding: 16px 20px;
    border-radius: 12px;
}

.audio-player {
    margin-bottom: 3rem;
}
.audio-player-wrapper {
    max-width: 320px;
    border: 1px solid #AFAFAF;
    padding: 24px 20px;
    border-radius: 12px;
}
audio {
    width: 100%;
    max-width: 300px;
}
.audio-player h4 {
    margin-bottom: 1rem;
}

.discussion-text {
    margin-bottom: 5rem;
}
.discussion-text p {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    line-height: 28px;
    max-width: 800px;
    color: #494949;
}
.discussion-text p > span {
    display: block;
    margin-bottom: 1rem;
    border-left: 3px solid #FFCC44;
    padding-left: 0.75rem;
}
.discussion-text p > span.economist {
    border-left-color: #2196F3;
}
.discussion-text p > span.philosopher {
    border-left-color: #EE5544;
}
.discussion-text p > span.sociologist {
    border-left-color: #5E4A90;
}
.discussion-text p > span.technologist {
    border-left-color: #606B7F;
}

footer {
    padding: 3rem 1.5rem 1.5rem;
    max-width: 1176px;
    margin: 0 auto;
}
.footer-logo .yellow-border-top {
    height: 3px;
    width: 21px;
    margin-bottom: 0.5rem;
}
.footer-logo span {
    display: block;
    margin-top: 0.5rem;
    font-size: 10px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}
.footer-links > div {
    margin-top: 2.5rem;
}
.footer-links h5 {
    font-size: 11px;
    text-transform: uppercase;
    color: #AFAFAF;
}
.footer-links a {
    display: block;
    font-size: 14px;
    margin-top: 1.25rem;
}

.footer-bottom {
    margin-top: 3rem;
    border-top: 1px solid #F1F1F1;
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.footer-bottom span,
.footer-bottom a {
    text-transform: uppercase;
    font-size: 10px;
    color: #AFAFAF;
}

/* Tablets and up */
@media only screen and (min-width: 960px) {
    .header-image {
        height: 240px;
    }
    .post-cover-image {
        max-width: 100%;
        height: 480px;
    }
    .container.how-to {
        display: flex;
        border-top: 3px solid black;
    }
    .container.how-to.no-border {
        border: none !important;
    }
    .how-to-title,
    .how-to-image {
        display: block;
    }
    footer > div {
        display: flex;
    }
    .footer-links {
        display: flex;
        justify-content: space-between;
    }
    .footer-links div {
        margin: 0;
        padding: 0 1.25rem;
    }
    .footer-logo,
    .footer-links {
        flex: 1;
    }
}

@media only screen and (min-width: 1024px) {
    a.logo-link {
        display: inline-block;
        margin: 40px 0 0 40px;
    }
    .header-image {
        height: 480px;
        width: calc(100vw - 80px);
        margin: 40px 0 80px 40px;
        border-radius: 12px;
    }
    h1, h2 {
        font-size: 4rem;
    }
    header.hero {
        width: calc(100% - 80px);
        margin: 40px 0 80px 40px;
        border-radius: 12px;
        height: calc(100vh - 28px);
    }
    header.hero:before {
        border-radius: 12px;
    }
    .hero-content  {
        left: calc(50vw - 175px);
        padding: 0;
    }
    header.hero span {
        font-size: 1.25rem;
    }
    .container {
        width: calc(100% - 80px);
        padding: 0;
    }
    #two-more-use-cases {
        padding-bottom: 2.5rem;
    }
    .full-width {
        padding: 15rem 0;
    }
}

@media only screen and (min-width: 1280px) {
    #sub-hero {
        display: flex;
        align-items: end;;
        justify-content: space-between;
    }
    #post-hero {
        margin-top: 4rem;
    }
    #two-more-use-cases .use-case,
    #two-more-use-cases .use-case-cover-image {
        max-width: 568px;
    }
    footer {
        padding: 7.5rem 0 1.5rem;
    }
}